<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Register</title>
</head>
<body>
<b>Wine Shop</b>
<form id="register">
ID: <input id="username" type="text" name="username"><br>
Account: <input id="password" type="text" name="password"><br>
</form>

<button id="create">Create</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="register.js"></script>
</body>
</html>